.home-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
    background-color: #f5e4e4;
    text-align: center;
  }
  
  h1 {
    font-size: 2rem;
    color: #d400ff;
  }
  
  p {
    font-size: 1.5rem;
    color: #000000;
    margin-top: 10px;
  }
  